.div1{
    background-image: url(../Image/black\ bg2.jpg);
}
.div3{
    background-image: url(../Image/black\ bg.jpg);
    height: 63.75em;
    color: darkcyan;
}
ul{
    list-style: none;
    text-align: right;
    padding-top: 3em;
    padding-bottom: 2em;
}
li{
    display: inline;
    padding: 1.25em 1.25em 1.5625em 1.5625em;
}
.icon{
    float: left;
    padding-top: 0%;
}
h1{
    padding-left: 2em;
    padding-top: 1em;
    text-align: center;
}
img{
    height: 9.375em;
    width: 9.375em;
    display: inline;
    padding: 0em;
    margin-left: 14em;
    margin-top: 2em;
}