.div1{
    background-image: url(../Image/black\ bg2.jpg);
    position: absolute; 
    top: 0;
}
.div3{
    background-image: url(../Image/black\ bg.jpg);
    height: 43.75em;
    color: darkcyan;
}
ul{
    list-style: none;
    text-align: right;
    padding-top: 3em;
    padding-bottom: 2em;
}
li{
    display: inline;
    padding: 1.25em 1.25em 1.5625em 1.5625em;
}
.icon{
    float: left;
    padding-top: 0%;
}
.img1{
    height: 18.75em;
    width: 18.75em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1{
    text-align: center;
    padding: 3em;
}
p{
    text-align: center;
}