.div1{
    background-image: url(../Image/black\ bg2.jpg)
}
.div3{
    background-image: url(../Image/black\ bg.jpg);
    height: 63.75em;
    color: darkcyan;
}
ul{
    list-style: none;
    text-align: right;
    padding-top: 3em;
    padding-bottom: 2em;
}
li{
    display: inline;
    padding: 1.25em 1.25em 1.5625em 1.5625em;
}
.icon{
    float: left;
    padding-top: 0%;
}
img{
    height: 18.75em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}
